body {
  background: #aaa;
}

#carousel-ato {
  border: 1px solid #fff;
  margin-top: 1ex;
}

/* Fade transition for carousel items */
.carousel .item {
    left: 0 !important;
      -webkit-transition: opacity 3s; /*adjust timing here */
         -moz-transition: opacity 3s;
           -o-transition: opacity 3s;
              transition: opacity 3s;
}
.carousel-control {
    background-image: none !important; /* remove background gradients on controls */
}
/* Fade controls with items */
.next.left,
.prev.right {
    opacity: 1;
    z-index: 1;
}
.active.left,
.active.right {
    opacity: 0;
    z-index: 2;
}
